<html>
<head>
    <meta charset="utf-8">
    <title>Reporte KPI - Power Bi</title>
</head>
<body>
    <h1>
        Reporte KPI - Power BI
    </h1>

    <form id="powerBiForm" name="powerBiForm" onsubmit="return triggerReport()" method="get">
        <br>
        <button type="button" id='autoPopulateForm' onclick="return autopopulate(event)">Mostrar Reporte KPI</button>
    </form>

    <div id="reportContainer"></div>

    <script src="https://microsoft.github.io/PowerBI-JavaScript/demo/node_modules/jquery/dist/jquery.js"></script>
    <script src="https://microsoft.github.io/PowerBI-JavaScript/demo/node_modules/powerbi-client/dist/powerbi.js"></script>

    <script type="text/javascript">

            function autopopulate(event) {
                event.preventDefault();

                // Harded coded values pulled from example docs @https://microsoft.github.io/PowerBI-JavaScript/demo/v2-demo/index.html#
                var exampleGroupId   = 'ca7a0b50-9880-4748-b73e-347417a98117';
				var exampleReportId  = 'c6bf94f3-db14-4b56-8914-5a6ce0bcf201';
				var exampleDatasetId = '27655a4a-fcfe-4edc-91ab-005656a6747f';

				$.ajax({
					type: "POST",
					url: "http://demoreportkpi.azurewebsites.net/api/PowerBI/GetTokenAccess",
					dataType: 'json',
					data: {GroupId: exampleGroupId, ReportId: exampleReportId, DatasetId: exampleDatasetId, AccessLevel: 'View'},
					success : function(token) {

						var models = window['powerbi-client'].models;
						var permissions = models.Permissions.All;
						var viewModel = models.ViewMode.View;

						var embedConfiguration= {
							type: 'report',
							tokenType: models.TokenType.Embed,
							id: exampleReportId,
							embedUrl: 'https://app.powerbi.com/reportEmbed?reportId=' + exampleReportId + '&groupId=' + exampleGroupId,
							accessToken: token,
							permissions: permissions,
							viewMode: viewModel,
							settings: {
								filterPaneEnabled: true,
								navContentPaneEnabled: true
							}
						};

						var $reportContainer = $('#reportContainer');
						var report = powerbi.embed($reportContainer.get(0), embedConfiguration);

						report.off("loaded");

						report.on("loaded", function() {
							console.log("Loaded");
						});

						report.on("error", function(event) {
							console.log(event.detail);
							alert(event.detail.detailedMessage);
							report.off("error");
						});

						report.off("saved");
						report.on("saved", function(event) {
							Log.log(event.detail);
							if(event.detail.saveAs) {
								console.log('In order to interact with the new report, create a new token and load the new report')
							}
						});

					},
					error: function(result){
						alert("Error generando token.");
						return;
					}
				});
            }

    </script>
</body>
</html>
